[Unit]
Description=Hosts fix
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "sed -ri 's/localhost.localdomain localhost/localhost localhost.localdomain/g' /etc/hosts"

[Install]
WantedBy=multi-user.target
