[Unit]
Description=Start/Stop PHP-FPM Web Server
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/phpfpm start
ExecStop=/usr/sbin/phpfpm start

[Install]
WantedBy=multi-user.target
